@import './colors.scss';
@import './fonts.scss';

.button {
    font-size: $xs-font;
    font-weight: $normal;
    height: 30px;
    min-width: 110px;
    width: max-content;
    border-radius: 15px;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;

    &.primary {
        background: $red;
        color: white;
        &:hover {
            background: $medium-red;
        }
    }

    &.secondary {
        background: $light-grey;
        &:hover {
            background: $medium-grey;
        }
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
