$overlay-background: rgba(74, 74, 74, 0.8);

$black: #000;
$white: #fff;
$green: #39b333;
$red: #cc0000;
$medium-red: #9c0000;
$dark-red: #700000;

$grey: #676767;
$dark-grey: #3c3c3b;
$light-grey: #f1f1f1;
$medium-grey: #dfdfdf;
