$black: #000;
$white: #fff;

//************************
//tarent  farbcodes
$tarent-red: #cc0000;
$tarent-light-red: #ff8080;
$tarent-dark-red: #87021e;

$tarent-light-grey: #f1f1f1;
$tarent-grey: #d0d0d0;
$tarent-dark-grey: #707070;

//**********
$light-grey: #e6e6e6;
$light-grey-text: #676767;
$dark-grey: #3c3c3b;
$dark-red: #9c0000;
