// import Ubuntu
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

// font family
$ubuntu: 'Ubuntu', sans-serif;

// font size
$xl-font: 28px;
$l-font: 20px;
$m-font: 16px;
$s-font: 14px;
$xs-font: 12px;

//font-weight:
$bold: 700;
$normal: 500;
