// import Ubuntu
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

// font family
$ubuntu: 'Ubuntu', sans-serif;

// font size
$l-font: 20px;
$m-font: 16px;
$s-font: 12px;

//font-weight:
$bold: bold;
$normal: 500;
